In [6]:
import pandas as pd
all_ages = pd.read_csv('all-ages.csv')
all_ages.head(5)
recent_grads = pd.read_csv('recent-grads.csv')
recent_grads.head(5)

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [7]:
# Summarizing Major Categories
aa_cat_counts = dict()
rg_cat_counts = dict()

# print(all_ages['Major_category'].unique())
# print(type(all_ages['Major_category'].unique()))

import numpy

print('===========Method 1: Use loop====================\n')
# Method 1: Use loop
def get_total_for_cat(df):
    unique_cat = df['Major_category'].unique()
    temp_dict = dict()
    for cat in unique_cat:
        cat_bool = df['Major_category'] == cat
        cat_bool_val = df[cat_bool]
        sum_val = cat_bool_val['Total'].sum()
        temp_dict[cat] = sum_val
    return temp_dict
aa_cat_counts = get_total_for_cat(all_ages)
rg_cat_counts = get_total_for_cat(recent_grads)
print(aa_cat_counts)
print('\n')
print(rg_cat_counts)

print('===========Method 2: Use pivot_table====================\n')
# Method 2: Use pivot_table
def get_total_for_cat(df):
    unique_cat = df['Major_category'].unique()
    group_by_cat = df.pivot_table(index='Major_category',values='Total',aggfunc=numpy.sum)
    temp_dict = dict()
    for cat in unique_cat:
        temp_dict[cat] = group_by_cat.loc[cat, 'Total']
    return temp_dict

aa_cat_counts = get_total_for_cat(all_ages)
rg_cat_counts = get_total_for_cat(recent_grads)
print(aa_cat_counts)
print('\n')
print(rg_cat_counts)

===========Method 1: Use loop====================

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1033798, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1025318, 'Psychology & Social Work': 1987278, 'Arts': 1805865, 'Business': 9858741}


{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 185479.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 75620.0, 'Industrial Arts & Consumer Services': 229792.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}
===========Method 2: Use pivot_table====================

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1033798, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1025318, 'Psychology & Social Work': 1987278, 'Arts': 1805865, 'Business': 9858741}


{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 185479.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 75620.0, 'Industrial Arts & Consumer Services': 229792.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}

In [8]:
# Calculate the proportion of low_wage over total in recent_grads
low_wage_percent = recent_grads['Low_wage_jobs'].sum() / recent_grads['Total'].sum()
print(low_wage_percent)

0.09858891195563152

In [21]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].unique()
rg_lower_count = 0
for major in majors:
    recent_grads_major_bool = recent_grads['Major'] == major
    recent_grads_major_value = recent_grads[recent_grads_major_bool]
    rg_unemployment_series = recent_grads_major_value['Unemployment_rate'] 
#     print(rg_unemployment_series)
    all_ages_major_bool = all_ages['Major'] == major
    all_ages_major_value = all_ages[all_ages_major_bool]
    aa_unemployment_series = all_ages_major_value['Unemployment_rate'] 
#     print(aa_unemployment_series)
    reidx_aa_unemp = aa_unemployment_series.reindex_like(rg_unemployment_series)
    print(reidx_aa_unemp)
#     if rg_unemployment_series < aa_unemployment_series.reindex_like(rg_unemployment_series):
#         rg_lower_count += 1
print(rg_lower_count)

0    0.018381
Name: Unemployment_rate, dtype: float64
59    0.042205
Name: Unemployment_rate, dtype: float64
0   NaN
Name: Unemployment_rate, dtype: float64
1    0.117241
Name: Unemployment_rate, dtype: float64
56    0.047032
Name: Unemployment_rate, dtype: float64
1   NaN
Name: Unemployment_rate, dtype: float64
2    0.024096
Name: Unemployment_rate, dtype: float64
55    0.044873
Name: Unemployment_rate, dtype: float64
2   NaN
Name: Unemployment_rate, dtype: float64
3    0.050125
Name: Unemployment_rate, dtype: float64
57    0.040309
Name: Unemployment_rate, dtype: float64
3   NaN
Name: Unemployment_rate, dtype: float64
4    0.061098
Name: Unemployment_rate, dtype: float64
45    0.046261
Name: Unemployment_rate, dtype: float64
4   NaN
Name: Unemployment_rate, dtype: float64
5    0.177226
Name: Unemployment_rate, dtype: float64
58    0.067159
Name: Unemployment_rate, dtype: float64
5   NaN
Name: Unemployment_rate, dtype: float64
6    0.095652
Name: Unemployment_rate, dtype: float64
160    0.056064
Name: Unemployment_rate, dtype: float64
6   NaN
Name: Unemployment_rate, dtype: float64
7    0.021167
Name: Unemployment_rate, dtype: float64
104    0.086022
Name: Unemployment_rate, dtype: float64
7   NaN
Name: Unemployment_rate, dtype: float64
8    0.057342
Name: Unemployment_rate, dtype: float64
54    0.043844
Name: Unemployment_rate, dtype: float64
8   NaN
Name: Unemployment_rate, dtype: float64
9    0.059174
Name: Unemployment_rate, dtype: float64
48    0.050509
Name: Unemployment_rate, dtype: float64
9   NaN
Name: Unemployment_rate, dtype: float64
10    0.065409
Name: Unemployment_rate, dtype: float64
47    0.054744
Name: Unemployment_rate, dtype: float64
10   NaN
Name: Unemployment_rate, dtype: float64
11    0.065162
Name: Unemployment_rate, dtype: float64
41    0.041971
Name: Unemployment_rate, dtype: float64
11   NaN
Name: Unemployment_rate, dtype: float64
12    0.092084
Name: Unemployment_rate, dtype: float64
44    0.079036
Name: Unemployment_rate, dtype: float64
12   NaN
Name: Unemployment_rate, dtype: float64
13    0.023043
Name: Unemployment_rate, dtype: float64
111    0.022333
Name: Unemployment_rate, dtype: float64
13   NaN
Name: Unemployment_rate, dtype: float64
14    0.006334
Name: Unemployment_rate, dtype: float64
49    0.043805
Name: Unemployment_rate, dtype: float64
14   NaN
Name: Unemployment_rate, dtype: float64
15    0.087143
Name: Unemployment_rate, dtype: float64
42    0.058974
Name: Unemployment_rate, dtype: float64
15   NaN
Name: Unemployment_rate, dtype: float64
16    0.042876
Name: Unemployment_rate, dtype: float64
52    0.051493
Name: Unemployment_rate, dtype: float64
16   NaN
Name: Unemployment_rate, dtype: float64
17    0.059824
Name: Unemployment_rate, dtype: float64
40    0.047688
Name: Unemployment_rate, dtype: float64
17   NaN
Name: Unemployment_rate, dtype: float64
18    0.061931
Name: Unemployment_rate, dtype: float64
43    0.069043
Name: Unemployment_rate, dtype: float64
18   NaN
Name: Unemployment_rate, dtype: float64
19    0.01169
Name: Unemployment_rate, dtype: float64
71    0.066513
Name: Unemployment_rate, dtype: float64
19   NaN
Name: Unemployment_rate, dtype: float64
20    0.063173
Name: Unemployment_rate, dtype: float64
20    0.049519
Name: Unemployment_rate, dtype: float64
20    0.049519
Name: Unemployment_rate, dtype: float64
21    0.096931
Name: Unemployment_rate, dtype: float64
4    0.049188
Name: Unemployment_rate, dtype: float64
21   NaN
Name: Unemployment_rate, dtype: float64
22    0.087557
Name: Unemployment_rate, dtype: float64
63    0.058384
Name: Unemployment_rate, dtype: float64
22   NaN
Name: Unemployment_rate, dtype: float64
23    0.027789
Name: Unemployment_rate, dtype: float64
53    0.059731
Name: Unemployment_rate, dtype: float64
23   NaN
Name: Unemployment_rate, dtype: float64
24    0.05824
Name: Unemployment_rate, dtype: float64
169    0.043977
Name: Unemployment_rate, dtype: float64
24   NaN
Name: Unemployment_rate, dtype: float64
25    0.07061
Name: Unemployment_rate, dtype: float64
46    0.053387
Name: Unemployment_rate, dtype: float64
25   NaN
Name: Unemployment_rate, dtype: float64
26    0.060023
Name: Unemployment_rate, dtype: float64
135    0.051097
Name: Unemployment_rate, dtype: float64
26   NaN
Name: Unemployment_rate, dtype: float64
27    0.047859
Name: Unemployment_rate, dtype: float64
162    0.043268
Name: Unemployment_rate, dtype: float64
27   NaN
Name: Unemployment_rate, dtype: float64
28    0.074393
Name: Unemployment_rate, dtype: float64
60    0.058821
Name: Unemployment_rate, dtype: float64
28   NaN
Name: Unemployment_rate, dtype: float64
29    0.128426
Name: Unemployment_rate, dtype: float64
123    0.079217
Name: Unemployment_rate, dtype: float64
29   NaN
Name: Unemployment_rate, dtype: float64
30    0.093589
Name: Unemployment_rate, dtype: float64
50    0.045732
Name: Unemployment_rate, dtype: float64
30   NaN
Name: Unemployment_rate, dtype: float64
31    0.05503
Name: Unemployment_rate, dtype: float64
61    0.046711
Name: Unemployment_rate, dtype: float64
31   NaN
Name: Unemployment_rate, dtype: float64
32    0.089375
Name: Unemployment_rate, dtype: float64
146    0.156147
Name: Unemployment_rate, dtype: float64
32   NaN
Name: Unemployment_rate, dtype: float64
33    0.075038
Name: Unemployment_rate, dtype: float64
51    0.0
Name: Unemployment_rate, dtype: float64
33   NaN
Name: Unemployment_rate, dtype: float64
34    0.044863
Name: Unemployment_rate, dtype: float64
153    0.026797
Name: Unemployment_rate, dtype: float64
34   NaN
Name: Unemployment_rate, dtype: float64
35    0.060686
Name: Unemployment_rate, dtype: float64
165    0.048473
Name: Unemployment_rate, dtype: float64
35   NaN
Name: Unemployment_rate, dtype: float64
36    0.099092
Name: Unemployment_rate, dtype: float64
127    0.061313
Name: Unemployment_rate, dtype: float64
36   NaN
Name: Unemployment_rate, dtype: float64
37    0.096448
Name: Unemployment_rate, dtype: float64
163    0.061749
Name: Unemployment_rate, dtype: float64
37   NaN
Name: Unemployment_rate, dtype: float64
38    0.028308
Name: Unemployment_rate, dtype: float64
64    0.049846
Name: Unemployment_rate, dtype: float64
38   NaN
Name: Unemployment_rate, dtype: float64
39    0.07154
Name: Unemployment_rate, dtype: float64
113    0.069858
Name: Unemployment_rate, dtype: float64
39   NaN
Name: Unemployment_rate, dtype: float64
40    0.069749
Name: Unemployment_rate, dtype: float64
159    0.053415
Name: Unemployment_rate, dtype: float64
40   NaN
Name: Unemployment_rate, dtype: float64
41    0.047277
Name: Unemployment_rate, dtype: float64
90    0.052936
Name: Unemployment_rate, dtype: float64
41   NaN
Name: Unemployment_rate, dtype: float64
42    0.09346
Name: Unemployment_rate, dtype: float64
18    0.051891
Name: Unemployment_rate, dtype: float64
42   NaN
Name: Unemployment_rate, dtype: float64
43    0.048224
Name: Unemployment_rate, dtype: float64
110    0.05209
Name: Unemployment_rate, dtype: float64
43   NaN
Name: Unemployment_rate, dtype: float64
44    0.036983
Name: Unemployment_rate, dtype: float64
151    0.03621
Name: Unemployment_rate, dtype: float64
44   NaN
Name: Unemployment_rate, dtype: float64
45    0.060741
Name: Unemployment_rate, dtype: float64
21    0.052841
Name: Unemployment_rate, dtype: float64
45   NaN
Name: Unemployment_rate, dtype: float64
46    0.086274
Name: Unemployment_rate, dtype: float64
92    0.057054
Name: Unemployment_rate, dtype: float64
46   NaN
Name: Unemployment_rate, dtype: float64
47    0.090823
Name: Unemployment_rate, dtype: float64
91    0.055653
Name: Unemployment_rate, dtype: float64
47   NaN
Name: Unemployment_rate, dtype: float64
48    0.085532
Name: Unemployment_rate, dtype: float64
85    0.016111
Name: Unemployment_rate, dtype: float64
48   NaN
Name: Unemployment_rate, dtype: float64
49    0.056995
Name: Unemployment_rate, dtype: float64
109    0.053895
Name: Unemployment_rate, dtype: float64
49   NaN
Name: Unemployment_rate, dtype: float64
50    0.033652
Name: Unemployment_rate, dtype: float64
62    0.054658
Name: Unemployment_rate, dtype: float64
50   NaN
Name: Unemployment_rate, dtype: float64
51    0.042507
Name: Unemployment_rate, dtype: float64
150    0.031357
Name: Unemployment_rate, dtype: float64
51   NaN
Name: Unemployment_rate, dtype: float64
52    0.0
Name: Unemployment_rate, dtype: float64
97    0.0249
Name: Unemployment_rate, dtype: float64
52   NaN
Name: Unemployment_rate, dtype: float64
53    0.113983
Name: Unemployment_rate, dtype: float64
19    0.090264
Name: Unemployment_rate, dtype: float64
53   NaN
Name: Unemployment_rate, dtype: float64
54    0.075236
Name: Unemployment_rate, dtype: float64
98    0.048873
Name: Unemployment_rate, dtype: float64
54   NaN

Name: Unemployment_rate, dtype: float64
55    0.107579
Name: Unemployment_rate, dtype: float64
27    0.101746
Name: Unemployment_rate, dtype: float64
55   NaN
Name: Unemployment_rate, dtype: float64
56    0.096799
Name: Unemployment_rate, dtype: float64
131    0.070313
Name: Unemployment_rate, dtype: float64
56   NaN
Name: Unemployment_rate, dtype: float64
57    0.072861
Name: Unemployment_rate, dtype: float64
158    0.051378
Name: Unemployment_rate, dtype: float64
57   NaN
Name: Unemployment_rate, dtype: float64
58    0.113332
Name: Unemployment_rate, dtype: float64
11    0.085991
Name: Unemployment_rate, dtype: float64
58   NaN
Name: Unemployment_rate, dtype: float64
59    0.096175
Name: Unemployment_rate, dtype: float64
167    0.071354
Name: Unemployment_rate, dtype: float64
59   NaN
Name: Unemployment_rate, dtype: float64
60    0.055521
Name: Unemployment_rate, dtype: float64
154    0.034358
Name: Unemployment_rate, dtype: float64
60   NaN
Name: Unemployment_rate, dtype: float64
61    0.084361
Name: Unemployment_rate, dtype: float64
81    0.060537
Name: Unemployment_rate, dtype: float64
61   NaN
Name: Unemployment_rate, dtype: float64
62    0.071983
Name: Unemployment_rate, dtype: float64
170    0.052679
Name: Unemployment_rate, dtype: float64
62   NaN
Name: Unemployment_rate, dtype: float64
63    0.050031
Name: Unemployment_rate, dtype: float64
1    0.028636
Name: Unemployment_rate, dtype: float64
63   NaN
Name: Unemployment_rate, dtype: float64
64    0.019642
Name: Unemployment_rate, dtype: float64
0    0.026147
Name: Unemployment_rate, dtype: float64
64   NaN
Name: Unemployment_rate, dtype: float64
65    0.052539
Name: Unemployment_rate, dtype: float64
66    0.060197
Name: Unemployment_rate, dtype: float64
65   NaN
Name: Unemployment_rate, dtype: float64
66    0.056357
Name: Unemployment_rate, dtype: float64
65    0.043533
Name: Unemployment_rate, dtype: float64
66   NaN
Name: Unemployment_rate, dtype: float64
67    0.034118
Name: Unemployment_rate, dtype: float64
83    0.041591
Name: Unemployment_rate, dtype: float64
67   NaN
Name: Unemployment_rate, dtype: float64
68    0.07308
Name: Unemployment_rate, dtype: float64
134    0.054399
Name: Unemployment_rate, dtype: float64
68   NaN
Name: Unemployment_rate, dtype: float64
69    0.047179
Name: Unemployment_rate, dtype: float64
172    0.0735
Name: Unemployment_rate, dtype: float64
69   NaN
Name: Unemployment_rate, dtype: float64
70    0.108787
Name: Unemployment_rate, dtype: float64
118    0.083629
Name: Unemployment_rate, dtype: float64
70   NaN
Name: Unemployment_rate, dtype: float64
71    0.07725
Name: Unemployment_rate, dtype: float64
2    0.030248
Name: Unemployment_rate, dtype: float64
71   NaN
Name: Unemployment_rate, dtype: float64
72    0.035354
Name: Unemployment_rate, dtype: float64
103    0.038953
Name: Unemployment_rate, dtype: float64
72   NaN
Name: Unemployment_rate, dtype: float64
73    0.0
Name: Unemployment_rate, dtype: float64
93    0.101796
Name: Unemployment_rate, dtype: float64
73   NaN
Name: Unemployment_rate, dtype: float64
74    0.053972
Name: Unemployment_rate, dtype: float64
106    0.054729
Name: Unemployment_rate, dtype: float64
74   NaN
Name: Unemployment_rate, dtype: float64
75    0.02948
Name: Unemployment_rate, dtype: float64
136    0.052034
Name: Unemployment_rate, dtype: float64
75   NaN
Name: Unemployment_rate, dtype: float64
76    0.072218
Name: Unemployment_rate, dtype: float64
161    0.058865
Name: Unemployment_rate, dtype: float64
76   NaN
Name: Unemployment_rate, dtype: float64
77    0.061215
Name: Unemployment_rate, dtype: float64
164    0.055033
Name: Unemployment_rate, dtype: float64
77   NaN
Name: Unemployment_rate, dtype: float64
78    0.101175
Name: Unemployment_rate, dtype: float64
132    0.069374
Name: Unemployment_rate, dtype: float64
78   NaN
Name: Unemployment_rate, dtype: float64
79    0.113459
Name: Unemployment_rate, dtype: float64
130    0.069008
Name: Unemployment_rate, dtype: float64
79   NaN
Name: Unemployment_rate, dtype: float64
80    0.066776
Name: Unemployment_rate, dtype: float64
84    0.050881
Name: Unemployment_rate, dtype: float64
80   NaN
Name: Unemployment_rate, dtype: float64
81    0.099723
Name: Unemployment_rate, dtype: float64
22    0.075046
Name: Unemployment_rate, dtype: float64
81   NaN
Name: Unemployment_rate, dtype: float64
82    0.080531
Name: Unemployment_rate, dtype: float64
79    0.071598
Name: Unemployment_rate, dtype: float64
82   NaN
Name: Unemployment_rate, dtype: float64
83    0.0
Name: Unemployment_rate, dtype: float64
80    0.034024
Name: Unemployment_rate, dtype: float64
83   NaN
Name: Unemployment_rate, dtype: float64
84    0.15185
Name: Unemployment_rate, dtype: float64
23    0.058694
Name: Unemployment_rate, dtype: float64
84   NaN
Name: Unemployment_rate, dtype: float64
85    0.075449
Name: Unemployment_rate, dtype: float64
107    0.065111
Name: Unemployment_rate, dtype: float64
85   NaN
Name: Unemployment_rate, dtype: float64
86    0.05957
Name: Unemployment_rate, dtype: float64
166    0.060748
Name: Unemployment_rate, dtype: float64
86   NaN
Name: Unemployment_rate, dtype: float64
87    0.071965
Name: Unemployment_rate, dtype: float64
72    0.069848
Name: Unemployment_rate, dtype: float64
87   NaN
Name: Unemployment_rate, dtype: float64
88    0.081411
Name: Unemployment_rate, dtype: float64
157    0.053573
Name: Unemployment_rate, dtype: float64
88   NaN
Name: Unemployment_rate, dtype: float64
89    0.159491
Name: Unemployment_rate, dtype: float64
122    0.069655
Name: Unemployment_rate, dtype: float64
89   NaN
Name: Unemployment_rate, dtype: float64
90    0.024374
Name: Unemployment_rate, dtype: float64
108    0.042792
Name: Unemployment_rate, dtype: float64
90   NaN
Name: Unemployment_rate, dtype: float64
91    0.02965
Name: Unemployment_rate, dtype: float64
119    0.087336
Name: Unemployment_rate, dtype: float64
91   NaN
Name: Unemployment_rate, dtype: float64
92    0.078585
Name: Unemployment_rate, dtype: float64
8    0.05129
Name: Unemployment_rate, dtype: float64
92   NaN
Name: Unemployment_rate, dtype: float64
93    0.075177
Name: Unemployment_rate, dtype: float64
13    0.06436
Name: Unemployment_rate, dtype: float64
93   NaN
Name: Unemployment_rate, dtype: float64
94    0.082452
Name: Unemployment_rate, dtype: float64
121    0.054036
Name: Unemployment_rate, dtype: float64
94   NaN
Name: Unemployment_rate, dtype: float64
95    0.096798
Name: Unemployment_rate, dtype: float64
142    0.07392
Name: Unemployment_rate, dtype: float64
95   NaN
Name: Unemployment_rate, dtype: float64
96    0.069176
Name: Unemployment_rate, dtype: float64
14    0.061917
Name: Unemployment_rate, dtype: float64
96   NaN
Name: Unemployment_rate, dtype: float64
97    0.055807
Name: Unemployment_rate, dtype: float64
112    0.045231
Name: Unemployment_rate, dtype: float64
97   NaN
Name: Unemployment_rate, dtype: float64
98    0.067961
Name: Unemployment_rate, dtype: float64
16    0.067216
Name: Unemployment_rate, dtype: float64
98   NaN
Name: Unemployment_rate, dtype: float64
99    0.063429
Name: Unemployment_rate, dtype: float64
12    0.067939
Name: Unemployment_rate, dtype: float64
99   NaN
Name: Unemployment_rate, dtype: float64
100    0.041508
Name: Unemployment_rate, dtype: float64
34    0.047145
Name: Unemployment_rate, dtype: float64
100   NaN
Name: Unemployment_rate, dtype: float64
101    0.069163
Name: Unemployment_rate, dtype: float64
86    0.051139
Name: Unemployment_rate, dtype: float64
101   NaN
Name: Unemployment_rate, dtype: float64
102    0.097244
Name: Unemployment_rate, dtype: float64
129    0.064519
Name: Unemployment_rate, dtype: float64
102   NaN
Name: Unemployment_rate, dtype: float64
103    0.068701
Name: Unemployment_rate, dtype: float64
96    0.063217
Name: Unemployment_rate, dtype: float64
103   NaN
Name: Unemployment_rate, dtype: float64
104    0.089626
Name: Unemployment_rate, dtype: float64
149    0.057004
Name: Unemployment_rate, dtype: float64
104   NaN
Name: Unemployment_rate, dtype: float64
105    0.119511
Name: Unemployment_rate, dtype: float64
17    0.085009
Name: Unemployment_rate, dtype: float64
105   NaN
Name: Unemployment_rate, dtype: float64
106    0.072725
Name: Unemployment_rate, dtype: float64
137    0.047264
Name: Unemployment_rate, dtype: float64
106   NaN
Name: Unemployment_rate, dtype: float64
107    0.066619
Name: Unemployment_rate, dtype: float64
10    0.054341
Name: Unemployment_rate, dtype: float64
107   NaN
Name: Unemployment_rate, dtype: float64
108    0.048482
Name: Unemployment_rate, dtype: float64
88    0.068898
Name: Unemployment_rate, dtype: float64

108   NaN
Name: Unemployment_rate, dtype: float64
109    0.070861
Name: Unemployment_rate, dtype: float64
94    0.077269
Name: Unemployment_rate, dtype: float64
109   NaN
Name: Unemployment_rate, dtype: float64
110    0.022229
Name: Unemployment_rate, dtype: float64
105    0.036726
Name: Unemployment_rate, dtype: float64
110   NaN
Name: Unemployment_rate, dtype: float64
111    0.096726
Name: Unemployment_rate, dtype: float64
9    0.042563
Name: Unemployment_rate, dtype: float64
111   NaN
Name: Unemployment_rate, dtype: float64
112    0.0
Name: Unemployment_rate, dtype: float64
6    0.050867
Name: Unemployment_rate, dtype: float64
112   NaN
Name: Unemployment_rate, dtype: float64
113    0.05736
Name: Unemployment_rate, dtype: float64
25    0.043904
Name: Unemployment_rate, dtype: float64
113   NaN
Name: Unemployment_rate, dtype: float64
114    0.095667
Name: Unemployment_rate, dtype: float64
171    0.065851
Name: Unemployment_rate, dtype: float64
114   NaN
Name: Unemployment_rate, dtype: float64
115    0.075566
Name: Unemployment_rate, dtype: float64
68    0.058793
Name: Unemployment_rate, dtype: float64
115   NaN
Name: Unemployment_rate, dtype: float64
116    0.083634
Name: Unemployment_rate, dtype: float64
95    0.07433
Name: Unemployment_rate, dtype: float64
116   NaN
Name: Unemployment_rate, dtype: float64
117    0.054083
Name: Unemployment_rate, dtype: float64
35    0.046013
Name: Unemployment_rate, dtype: float64
117   NaN
Name: Unemployment_rate, dtype: float64
118    0.112144
Name: Unemployment_rate, dtype: float64
156    0.066528
Name: Unemployment_rate, dtype: float64
118   NaN
Name: Unemployment_rate, dtype: float64
119    0.016203
Name: Unemployment_rate, dtype: float64
29    0.032983
Name: Unemployment_rate, dtype: float64
119   NaN
Name: Unemployment_rate, dtype: float64
120    0.0
Name: Unemployment_rate, dtype: float64
26    0.0
Name: Unemployment_rate, dtype: float64
120   NaN
Name: Unemployment_rate, dtype: float64
121    0.06978
Name: Unemployment_rate, dtype: float64
152    0.07001
Name: Unemployment_rate, dtype: float64
121   NaN
Name: Unemployment_rate, dtype: float64
122    0.058545
Name: Unemployment_rate, dtype: float64
89    0.047582
Name: Unemployment_rate, dtype: float64
122   NaN
Name: Unemployment_rate, dtype: float64
123    0.070725
Name: Unemployment_rate, dtype: float64
78    0.059301
Name: Unemployment_rate, dtype: float64
123   NaN
Name: Unemployment_rate, dtype: float64
124    0.084951
Name: Unemployment_rate, dtype: float64
133    0.065804
Name: Unemployment_rate, dtype: float64
124   NaN
Name: Unemployment_rate, dtype: float64
125    0.089837
Name: Unemployment_rate, dtype: float64
15    0.083005
Name: Unemployment_rate, dtype: float64
125   NaN
Name: Unemployment_rate, dtype: float64
126    0.059821
Name: Unemployment_rate, dtype: float64
155    0.026292
Name: Unemployment_rate, dtype: float64
126   NaN
Name: Unemployment_rate, dtype: float64
127    0.061169
Name: Unemployment_rate, dtype: float64
168    0.051447
Name: Unemployment_rate, dtype: float64
127   NaN
Name: Unemployment_rate, dtype: float64
128    0.050306
Name: Unemployment_rate, dtype: float64
37    0.04808
Name: Unemployment_rate, dtype: float64
128   NaN
Name: Unemployment_rate, dtype: float64
129    0.104436
Name: Unemployment_rate, dtype: float64
67    0.081348
Name: Unemployment_rate, dtype: float64
129   NaN
Name: Unemployment_rate, dtype: float64
130    0.059212
Name: Unemployment_rate, dtype: float64
39    0.039215
Name: Unemployment_rate, dtype: float64
130   NaN
Name: Unemployment_rate, dtype: float64
131    0.092306
Name: Unemployment_rate, dtype: float64
99    0.065383
Name: Unemployment_rate, dtype: float64
131   NaN
Name: Unemployment_rate, dtype: float64
132    0.054475
Name: Unemployment_rate, dtype: float64
82    0.048917
Name: Unemployment_rate, dtype: float64
132   NaN
Name: Unemployment_rate, dtype: float64
133    0.052229
Name: Unemployment_rate, dtype: float64
33    0.043756
Name: Unemployment_rate, dtype: float64
133   NaN
Name: Unemployment_rate, dtype: float64
134    0.082102
Name: Unemployment_rate, dtype: float64
147    0.054701
Name: Unemployment_rate, dtype: float64
134   NaN
Name: Unemployment_rate, dtype: float64
135    0.096052
Name: Unemployment_rate, dtype: float64
101    0.07502
Name: Unemployment_rate, dtype: float64
135   NaN
Name: Unemployment_rate, dtype: float64
136    0.038638
Name: Unemployment_rate, dtype: float64
38    0.040973
Name: Unemployment_rate, dtype: float64
136   NaN
Name: Unemployment_rate, dtype: float64
137    0.087724
Name: Unemployment_rate, dtype: float64
73    0.068645
Name: Unemployment_rate, dtype: float64
137   NaN
Name: Unemployment_rate, dtype: float64
138    0.046586
Name: Unemployment_rate, dtype: float64
28    0.038359
Name: Unemployment_rate, dtype: float64
138   NaN
Name: Unemployment_rate, dtype: float64
139    0.051467
Name: Unemployment_rate, dtype: float64
100    0.046903
Name: Unemployment_rate, dtype: float64
139   NaN
Name: Unemployment_rate, dtype: float64
140    0.078268
Name: Unemployment_rate, dtype: float64
75    0.067579
Name: Unemployment_rate, dtype: float64
140   NaN
Name: Unemployment_rate, dtype: float64
141    0.105772
Name: Unemployment_rate, dtype: float64
143    0.085619
Name: Unemployment_rate, dtype: float64
141   NaN
Name: Unemployment_rate, dtype: float64
142    0.103455
Name: Unemployment_rate, dtype: float64
126    0.071057
Name: Unemployment_rate, dtype: float64
142   NaN
Name: Unemployment_rate, dtype: float64
143    0.045455
Name: Unemployment_rate, dtype: float64
5    0.031791
Name: Unemployment_rate, dtype: float64
143   NaN
Name: Unemployment_rate, dtype: float64
144    0.047264
Name: Unemployment_rate, dtype: float64
32    0.0422
Name: Unemployment_rate, dtype: float64
144   NaN
Name: Unemployment_rate, dtype: float64
145    0.083811
Name: Unemployment_rate, dtype: float64
114    0.069667
Name: Unemployment_rate, dtype: float64
145   NaN
Name: Unemployment_rate, dtype: float64
146    0.07596
Name: Unemployment_rate, dtype: float64
140    0.054719
Name: Unemployment_rate, dtype: float64
146   NaN
Name: Unemployment_rate, dtype: float64
147    0.074667
Name: Unemployment_rate, dtype: float64
30    0.046267
Name: Unemployment_rate, dtype: float64
147   NaN
Name: Unemployment_rate, dtype: float64
148    0.060298
Name: Unemployment_rate, dtype: float64
144    0.063913
Name: Unemployment_rate, dtype: float64
148   NaN
Name: Unemployment_rate, dtype: float64
149    0.084186
Name: Unemployment_rate, dtype: float64
138    0.071753
Name: Unemployment_rate, dtype: float64
149   NaN
Name: Unemployment_rate, dtype: float64
150    0.067128
Name: Unemployment_rate, dtype: float64
70    0.055785
Name: Unemployment_rate, dtype: float64
150   NaN
Name: Unemployment_rate, dtype: float64
151    0.068828
Name: Unemployment_rate, dtype: float64
125    0.059376
Name: Unemployment_rate, dtype: float64
151   NaN
Name: Unemployment_rate, dtype: float64
152    0.050862
Name: Unemployment_rate, dtype: float64
3    0.042679
Name: Unemployment_rate, dtype: float64
152   NaN
Name: Unemployment_rate, dtype: float64
153    0.102197
Name: Unemployment_rate, dtype: float64
141    0.094658
Name: Unemployment_rate, dtype: float64
153   NaN
Name: Unemployment_rate, dtype: float64
154    0.036546
Name: Unemployment_rate, dtype: float64
36    0.033357
Name: Unemployment_rate, dtype: float64
154   NaN
Name: Unemployment_rate, dtype: float64
155    0.051908
Name: Unemployment_rate, dtype: float64
120    0.082009
Name: Unemployment_rate, dtype: float64
155   NaN
Name: Unemployment_rate, dtype: float64
156    0.037819
Name: Unemployment_rate, dtype: float64
124    0.072421
Name: Unemployment_rate, dtype: float64
156   NaN
Name: Unemployment_rate, dtype: float64
157    0.068584
Name: Unemployment_rate, dtype: float64
76    0.077844
Name: Unemployment_rate, dtype: float64
157   NaN
Name: Unemployment_rate, dtype: float64
158    0.062628
Name: Unemployment_rate, dtype: float64
102    0.042505
Name: Unemployment_rate, dtype: float64
158   NaN
Name: Unemployment_rate, dtype: float64
159    0.089552
Name: Unemployment_rate, dtype: float64
145    0.083714
Name: Unemployment_rate, dtype: float64
159   NaN
Name: Unemployment_rate, dtype: float64
160    0.055677
Name: Unemployment_rate, dtype: float64
24    0.054941
Name: Unemployment_rate, dtype: float64
160   NaN
Name: Unemployment_rate, dtype: float64
161    0.059767
Name: Unemployment_rate, dtype: float64
7    0.03923
Name: Unemployment_rate, dtype: float64
161   NaN
Name: Unemployment_rate, dtype: float64
162    0.102792
Name: Unemployment_rate, dtype: float64
128    0.078176
Name: Unemployment_rate, dtype: float64
162   NaN
Name: Unemployment_rate, dtype: float64
163    0.047584
Name: Unemployment_rate, dtype: float64
148    0.046467
Name: Unemployment_rate, dtype: float64
163   NaN
Name: Unemployment_rate, dtype: float64
164    0.040105
Name: Unemployment_rate, dtype: float64
31    0.049351
Name: Unemployment_rate, dtype: float64
164   NaN
Name: Unemployment_rate, dtype: float64
165    0.107116
Name: Unemployment_rate, dtype: float64
69    0.072374
Name: Unemployment_rate, dtype: float64
165   NaN
Name: Unemployment_rate, dtype: float64
166    0.077541
Name: Unemployment_rate, dtype: float64
139    0.080274
Name: Unemployment_rate, dtype: float64
166   NaN
Name: Unemployment_rate, dtype: float64
167    0.081742
Name: Unemployment_rate, dtype: float64
74    0.073615
Name: Unemployment_rate, dtype: float64
167   NaN
Name: Unemployment_rate, dtype: float64
168    0.04632
Name: Unemployment_rate, dtype: float64
87    0.048363
Name: Unemployment_rate, dtype: float64
168   NaN
Name: Unemployment_rate, dtype: float64
169    0.065112
Name: Unemployment_rate, dtype: float64
115    0.075631
Name: Unemployment_rate, dtype: float64
169   NaN
Name: Unemployment_rate, dtype: float64
170    0.149048
Name: Unemployment_rate, dtype: float64
116    0.102712
Name: Unemployment_rate, dtype: float64
170   NaN
Name: Unemployment_rate, dtype: float64
171    0.053621
Name: Unemployment_rate, dtype: float64
117    0.068021
Name: Unemployment_rate, dtype: float64
171   NaN
Name: Unemployment_rate, dtype: float64
172    0.104946
Name: Unemployment_rate, dtype: float64
77    0.094843

Name: Unemployment_rate, dtype: float64
172   NaN
Name: Unemployment_rate, dtype: float64
0